// Primary
$GrayishBlue: hsl(237, 18%, 59%);
$SofRed: hsl(345, 95%, 68%);

// Neutral
$White: hsl(0, 0%, 100%);
$DarkDeSaturatedBlue: hsl(236, 21%, 26%);
$VeryDarkBlue: hsl(235, 16%, 14%);
$VeryVeryDarkBlue: hsl(234, 17%, 12%);
