.box-shadow {
  box-shadow: 0px 7px 0px 0px $VeryVeryDarkBlue;
}
// TODO: MOVE TO COMMON
.bg-DarkDeSaturatedBlue {
  background-color: $DarkDeSaturatedBlue;
}

.countdown {
  height: 100%;
  &-title {
    margin-bottom: 50px;
  }
}
.timer {
  text-transform: uppercase;
  &-card {
    text-align: center;
    &-value {
      @extend .box-shadow;
      @extend .bg-DarkDeSaturatedBlue;
      min-width: 72px;
      color: $SofRed;
      font-size: 2em;
      padding: 16px;
      margin-bottom: 10px;
      // border: 1px solid black;
      border-radius: 10px;
      overflow: hidden;
    }
    &-label {
      color: $GrayishBlue;
      font-size: 0.75rem;
    }
  }
}

@media (min-width: 768px) {
  .timer {
    &-card {
      &-value {
        min-width: 110px;
        font-size: 4em;
      }
    }
  }
}
