.box-shadow {
  box-shadow: 0px 7px 0px 0px $VeryVeryDarkBlue;
}
.timer-card-indent {
  content: "";
  position: absolute;
  top: 44%;
  width: 1rem;
  height: 1rem;
  background-color: $VeryVeryDarkBlue;
  border-radius: 0 100% 100% 0;
  z-index: 4;
}

// ANIMATION
.card-flip-animation {
  transition: transform 0.6s;
  transform-style: preserve-3d;
  perspective: 500px;
  transform-origin: center center;
}
.rotateX360 {
  transform: rotateX(90deg);
}

// TODO: MOVE TO COMMON
.bg-DarkDeSaturatedBlue {
  background-color: $DarkDeSaturatedBlue;
}

.countdown {
  height: 100%;
  &-title {
    margin-bottom: 80px;
  }
}
.timer {
  text-transform: uppercase;
  &-card {
    text-align: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    &-wrapper {
      position: relative;
    }
    &-glass {
      position: absolute;
      height: 90%;
      width: 100%;
      background-color: rgba(52, 54, 80, 0.9);
      z-index: 2;
      border-radius: 10px;
      @extend .card-flip-animation;
    }
    &-value {
      @extend .box-shadow;
      @extend .bg-DarkDeSaturatedBlue;
      @extend .card-flip-animation;
      border-radius: 10px;
      padding: 18px;
      color: $SofRed;
      font-size: 1.75rem;
      // max-width: 72px;
      text-align: center;
      position: relative;
      margin: 0 auto 10px auto;
      z-index: 1;
      &::before {
        @extend .timer-card-indent;
        left: -5px;
      }
      &::after {
        @extend .timer-card-indent;
        right: -5px;
        border-radius: 100% 0 0 100%;
      }
    }
    &-label {
      color: $GrayishBlue;
      font-size: 0.5rem;
      letter-spacing: 0.2rem;
    }
  }
}

@media (min-width: 768px) {
  .timer {
    &-card {
      &-value {
        min-width: 110px;
        font-size: 4em;
      }
      &-label {
        font-size: 1rem;
      }
    }
  }
}
