// Card Drop keyframe animation
@keyframes card-fold {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
    background-color: $DarkDeSaturatedBlue;
    transform: rotateX(-180deg);
  }
}

.countdown {
  height: 100%;
  &-title {
    margin-bottom: 80px;
  }
}

.timer {
  margin-bottom: 50px;
  &-card {
    padding: 5px;
    overflow: hidden;
    text-align: center;
    &-label {
      color: $GrayishBlue;
      font-size: 0.5rem;
      letter-spacing: 0.2rem;
    }
    &-time {
      background-color: $DarkDeSaturatedBlue;
      margin-bottom: 20px;
      color: $SofRed;
      font-size: 1.75rem;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 10px 0px 0px $VeryVeryDarkBlue;

      // ALL CHILD
      > * {
        height: 64px;
        width: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-value {
        position: relative;
        &::before,
        &::after {
          position: absolute;
          content: "";
          border-radius: 50%;
          background-color: $VeryVeryDarkBlue;
          height: 20px;
          width: 20px;
          top: 40%;
          z-index: 1;
        }
        &::before {
          left: -10px;
        }
        &::after {
          right: -10px;
        }
      }
      // GLASS: OVERWRITE
      &-glass {
        display: block;
        line-height: 2.3;
        border: 0px;
        overflow: hidden;
        position: absolute;
        top: 0;
        // left: -20px;
        // right: -20px;
        height: 50%;
        background-color: hsl(235, 16%, 14%, 0.3);
        color: darken($color: $SofRed, $amount: 5);
        transform-origin: bottom;
        // perspective-origin: bottom center;
        // transition: all 1s;
      }
      &-glass.drop {
        // transform: rotateX(-180deg);
        // opacity: 0;
        background-color: hsl(235, 16%, 14%, 0.4);
        animation: card-fold 900ms;
      }
    }
  }
}

@media (min-width: 768px) {
  .timer {
    gap: 1;
    &-card {
      padding: 10px;
      &-time {
        font-size: 3.75rem;
        > * {
          height: 120px;
          width: 140px;
        }
        &-glass {
          height: 60px;
          display: block;
          line-height: 2;
        }
      }
      &-label {
        font-size: 1rem;
      }
    }
  }
}
